@using System.Globalization
@using BrickPile.UI.Web.Mvc.Html
@model BrickPile.UI.Areas.UI.Models.LogInModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>BrickPile - Login and pile some bricks eh?</title>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/ui/styles/framework.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/ui/styles/views.css")" media="all" />
    <script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/jquery-1.9.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/underscore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/backbone.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/application.js")"></script>
</head>
<body class="logon">
    <div>
        <header>
            <h1><img src="@Url.Content("~/areas/ui/images/setup/logo.png")" alt="BrickPile" id="logo" /></h1>
        </header>
        @Html.ValidationSummary()
        @using (Html.BeginForm("LogIn", "Auth", FormMethod.Post))
        {
            <div>
                <fieldset>
                    @Html.TextBoxFor(m => m.Email, new { @class = "text-box", placeholder = "Your username...", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageLabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "text-box", placeholder = "... and your password?", required = "required" })
                </fieldset>
                <div id="button">
                    <a href="#">What is brickpile?</a>
                    <span>
                        <input type="submit" value="Yes, go ahead" />
                    </span>
                </div>
            </div>
        }
    </div>
</body>
</html>