
@model BrickPile.UI.Models.EditPageReferenceModel

<div class="overlay">
    <aside>
        <h1>Select a page</h1>
            <ul id="pagetree">
                <li>
                    <a href="#" data-val="@Model.PageModels.SingleOrDefault(x => x.Parent == null).Id">@Model.PageModels.SingleOrDefault(x => x.Parent == null).Metadata.Name</a>
                    @OrgTree(Model.PageModels, Model.PageModels.SingleOrDefault(x => x.Parent == null).Id)
                </li>
            </ul>

            @helper OrgTree(IEnumerable<BrickPile.Domain.Models.IPageModel> nodes, string parentId) {
                if (nodes.Any(n => n.Parent != null && n.Parent.Id == parentId)) { 
                <ul>
                    @foreach (var node in nodes.Where(n => n.Parent != null && n.Parent.Id == parentId)) {
                        <li>
                            <a href="#" data-val="@node.Id">@node.Metadata.Name</a>
                            @OrgTree(nodes, node.Id)
                        </li>
                    }
                </ul>
                }
            }

            <div class="editor-button">
                @Html.ActionLink("No, cancel", @Model.BackAction ?? "index", null, new { @class = "button" })
            </div>
    </aside>
</div>
