@using BrickPile.UI.Web.Hosting
<a href="#" class="close"><img src="@Url.Content("/areas/brickpile.ui/images/dialog-close.png")" alt="close" /></a>
<h1>Select page...</h1>
<div id="scroll" style="width: 100%;">
    <!--div>
        <ul>
            @foreach (AmazonS3VirtualDirectory directory in Model.Directories) {
                <li>
                    <a href="#" class="directory" data-virtualpath="/s3/@directory.VirtualPath">@directory.Name</a>
                </li>
            }
        </ul>        

    </div-->    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
            </tr>
        </thead>
        <tbody>
                
                
            @foreach (AmazonS3VirtualFile asset in Model.Files) {
                <tr>
                    <td><a href="@asset.Url" class="insert" data-url="@asset.Url" data-virtualpath="@asset.VirtualPath">@asset.Name</a></td>
                    <td>Filesize</td>
                    <td>Last modified</td>
                </tr>
            }

        </tbody>
    </table>     
</div>