
@model BrickPile.Domain.Models.Image

<img src="@Model.VirtualPath" alt="@Model.AltText" width="@Model.Width" height="@Model.Height" />
<br />
<span>@Model.DateUploaded.Value.ToShortDateString()</span>
