@model BrickPile.UI.Areas.UI.Models.RemoveExternalLoginModel

@if (Model.ExternalLogins.Any())
{
    <h3>Registered external logins</h3>
    <table>
        <tbody>
            @foreach (var ext in Model.ExternalLogins)
            {
                <tr>
                    <td>@ext.ProviderName</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.Hidden(Html.NameFor(m => m.ProviderName).ToString(), ext.ProviderName)
                                    @Html.Hidden(Html.NameFor(m => m.UserIdentifier).ToString(), ext.UserIdentifier)

                                    <input type="submit" value="Remove" title="Remove this @ext.ProviderName credential from your account" />
                                </fieldset>
                            }
                        }
                        else
                        {
                            @:&nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
