@model BrickPile.UI.Areas.UI.Models.ManageModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@Model.StatusMessage</p>

<p>You're logged in as <strong>@Model.UserName</strong>.</p>

@if (Model.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = Url.Action("Manage") })
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
