@using BrickPile.UI.Common
@using BrickPile.UI.Web.Mvc.Html
@model BrickPile.Samples.Models.ContainerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://dfimg.com/medium-editor/dist/css/medium.editor.css"/>
@Html.Menu()

@Html.SubMenu(
    page => Html.ActionLink(page)
)

<h1>@Model.CurrentPage.Heading</h1>
<div class="editable" contenteditable="true">
    <p>
        @Html.Raw(Model.CurrentPage.MainBody)
    </p>
</div>

@Model.CurrentPage.Person.Firstname
<script src="http://dfimg.com/medium-editor/dist/js/medium.editor.js"></script>
<script>var editor = new MediumEditor('.editable');</script>
