
@model Stormbreaker.Web.Mvc.ViewModels.IViewModel<Stormbreaker.Example.Models.ModelBase>
@using System.Globalization;

<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8" />
		<script src="@Url.Content("~/scripts/lib/jquery-1.4.4.js")"></script>
		<script src="@Url.Content("~/scripts/global.js")"></script>
		<link rel="stylesheet" href="@Url.Content("~/styles/global.css")" media="all" />        
		<link rel="stylesheet" href="@Url.Content("~/styles/framework.css")" media="all" />
		<link rel="stylesheet" href="@Url.Content("~/styles/templates.css")" media="all" />
        <!--[if lt IE 7]>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie6.css")" media="screen,projection" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie7.css")" media="screen,projection" />
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="@Url.Content("~/scripts/lib/html5.js")"></script>
        <![endif]-->
	</head>
	<body class="home">
		<header>
			<a href="@Url.Action("index",new { model = Model.StructureInfo.RootModel })" title="Till webbplatsens startsida"><img src="/images/logotype.png" alt="Burro"></a>
		</header>
		<nav id="global">
            @Html.Partial("_GlobalNav")
		</nav>
		<div id="content">
            @if (!IsSectionDefined("Content")) {
                <nav id="local">
                    @Html.Partial("_LocalNav")
                </nav>
                <article>
                    <div class="main">
                        @RenderBody()
                        <p class="introduction">Vi sitter centralt på Nybrogatan 25B på gångavstånd från T-banan på Östermalmstorg.</p>
                        <p>Vestibulum ultricies pellentesque eros volutpat vehicula. Fusce consequat justo at nisi hendrerit ac facilisis erat vehicula. Pellentesque mauris libero, sollicitudin vitae blandit eget, aliquet in orci. Nunc at dapibus neque. Integer rutrum velit sodales sem varius at sodales quam molestie. Nullam elit urna, consequat non interdum ut, rutrum in sem. Vestibulum quis nibh ac diam vestibulum lobortis. Donec ornare justo a ante tempor suscipit.</p>
                        <p>Massa in sodales cursus, elit diam scelerisque nisl, sit amet varius orci sapien vitae tortor. Etiam vitae ipsum in odio cursus cursus ac in arcu. Nunc id arcu quam, vitae faucibus lorem. Duis vitae vestibulum sem. Integer auctor est magna, non sagittis diam. Suspendisse eu lacus ligula. Aenean lacinia purus a augue commodo ac mollis tellus feugiat. Sed aliquam felis turpis, a iaculis dolor. Aliquam facilisis ipsum nec enim vehicula dignissim. Quisque in risus in purus hendrerit rhoncus. Nunc placerat, lectus non malesuada pretium, lacus dolor porttitor quam, sit amet congue purus tortor id urna. Nulla facilisi. Donec est mauris, luctus dignissim pulvinar eget, bibendum nec orci.</p>
                    </div>
                    <aside>
                        <img src="http://placehold.it/463x509" />
                    </aside>
                </article>
            }
            else {
                @RenderSection("Content")
            }
		</div>
		<footer>
			<p><strong>Besök oss:</strong> Nybrogatan 25 B, 112 29 Stockholm</p>
			<p><strong>Ring oss:</strong> 0767 80 45 99</p>
			<p><strong>Maila oss:</strong> <a href="info@burro.se">info@burro.se</a></p>
			<p><strong>Följ oss:</strong> <a href="http://www.facebook.com">Facebook</a> <a href="http://www.twitter.com/">Twitter</a></p>
		</footer>
	</body>
</html>


