
@model BrickPile.UI.Web.ViewModels.IDashboardViewModel

@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard" })</li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content selected" })</li>
    </ul>
}

<h1>Editing <em style="text-transform:none;">../@Model.CurrentModel.Metadata.Url</em></h1>

@Html.ValidationSummary()

@using (Html.BeginForm("update", "content", new { model = Model.CurrentModel }, FormMethod.Post, new { name = "editForm" }))
{
    <div>
        <fieldset>
            <legend>@Model.CurrentModel.Metadata.Name</legend>
            <div id="metadata">
                <div>
                    @Html.EditorFor(model => model.CurrentModel.Metadata)
                </div>
            </div>
            @Html.EditorFor(model => model.CurrentModel, new { StructureInfo = Model.StructureInfo })
            <div>
                <input type="submit" value="Save and publish" />
            </div>
        </fieldset>
    </div>
}