
@model BrickPile.UI.Web.ViewModels.IDashboardViewModel
@using BrickPile.UI.Web.Mvc.Html
@using BrickPile.UI.Common
@{
    ViewBag.Title = "Let's pile some bricks eh?";
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard" })</li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content selected" })</li>
    </ul>
}

<h1>Welcome @HttpContext.Current.User.Identity.Name! Let's pile some bricks eh?</h1>

@if (Model.CurrentModel != null) {
    <div id="pages">
        @if (Model.StructureInfo.ParentModel != null) {
            <span class="button back">
                 @Html.ActionLink(Model.StructureInfo.ParentModel)
            </span>
        }
        @if (HttpContext.Current.Request.Path.Contains("showdeleted")) {
            <span class="button showdeleted">
                <a href="@Url.Action("index", "content", new { model = Model.CurrentModel })">Hide deleted pages</a>
            </span>
        } else {
            <span class="button showdeleted">
                <a href="@Url.Action("showdeleted", "content", new { model = Model.CurrentModel })">Show deleted pages</a>
            </span>
        }

        <span class="button add">
            <a href="@Url.Action("add", "content", new { model = Model.CurrentModel })">+</a>
        </span>
        <table>
            <caption>@Model.CurrentModel.Metadata.Name</caption>
            <thead>
                <tr>
                    <th><span>&nbsp;</span></th>
                    <th><span>Page name</span></th>                
                    <th><span>Slug</span></th>
                    <th><span>Published</span></th>
                    <th><span>Changed</span></th>
                    <th><span>&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.StructureInfo.ParentModel == null) {
                    <tr class="ui-state-disabled">
                        <td><span>&nbsp;</span></td>
                        <td class="name"><span>@Model.StructureInfo.RootModel.Metadata.Name</span></td>
                        <td><span>/@Model.StructureInfo.RootModel.Metadata.Slug</span></td>
                        <td><span>@Html.CheckBox(Model.StructureInfo.RootModel.Id.Replace("/", "_"), Model.StructureInfo.RootModel.Metadata.IsPublished, new { @class = "publish" })</span></td>
                        <td><span>@(Model.StructureInfo.RootModel.Metadata.Changed.HasValue ? @Model.StructureInfo.RootModel.Metadata.Changed.FormatDate() + " by " + Model.StructureInfo.RootModel.Metadata.ChangedBy : "")</span></td>
                        <td class="actions">
                            <span>
                                <span>
                                    <a href="@Url.Action("edit", new { model = Model.StructureInfo.RootModel })"><img src="/areas/brickpile.ui/images/edit.png" alt="Edit page" /></a>
                                    <a href="@Url.Action("preview", new { model = Model.StructureInfo.RootModel })"><img src="/areas/brickpile.ui/images/preview.png" alt="Preview page" /></a>
                                    <a href="@Url.Action("delete", new { model = Model.StructureInfo.RootModel })" class="delete"><img src="/areas/brickpile.ui/images/delete.png" alt="Delete page" /></a>
                                </span>
                            </span>
                        </td>
                    </tr>
                                        foreach (var item in Model.StructureInfo.Hierarchy) {
                        <tr id="@item.Entity.Id.Replace('/', '_')" class="@(item.Entity.Metadata.IsDeleted ? "deleted" : "")">
                            <td class="sort"><span><img src="/areas/brickpile.ui/images/sort.png" alt="Sort" /></span></td>
                            <td class="name"><span>@item.Entity.Metadata.Name</span></td>
                            <td><span>@item.Entity.Metadata.Slug</span></td>
                            <td><span>@Html.CheckBox(item.Entity.Id.Replace("/", "_"), item.Entity.Metadata.IsPublished, new { @class = "publish" })</span></td>
                            <td><span>@(item.Entity.Metadata.Changed.HasValue ? item.Entity.Metadata.Changed.FormatDate() + " by " + Model.StructureInfo.RootModel.Metadata.ChangedBy : "")</span></td>
                            <td class="actions">
                                <span>
                                    <span>
                                        <a href="@Url.Action("edit", new { model = item.Entity })"><img src="/areas/brickpile.ui/images/edit.png" alt="Edit page" /></a>
                                        <a href="@Url.Action("preview", new { model = item.Entity })"><img src="/areas/brickpile.ui/images/preview.png" alt="Preview page" /></a>
                                        @if (item.Entity.Metadata.IsDeleted) {
                                            <a href="@Url.Action("undelete", new { model = item.Entity })" class="undelete"><img src="/areas/brickpile.ui/images/delete.png" alt="Undelete page" /></a>
                                        } else {
                                            <a href="@Url.Action("delete", new { model = item.Entity })" class="delete"><img src="/areas/brickpile.ui/images/delete.png" alt="Delete page" /></a>
                                        }
                                    </span>
                                    <a href="@Url.Action("index", new { model = item.Entity })" class="button"><img src="/areas/brickpile.ui/images/next-level.png" alt="Edit children" /></a>
                                </span>
                            </td>
                        </tr>
                                        }
                }
            
                @{
                var currentNode = Model.StructureInfo.Hierarchy.SingleOrDefault(x => x.Entity.Id == Model.StructureInfo.CurrentModel.Id);
                if (currentNode != null && currentNode.ChildNodes != null) {
                    foreach (var item in currentNode.ChildNodes) {
                            <tr id="@item.Entity.Id.Replace('/', '_')"class="@(item.Entity.Metadata.IsDeleted ? "deleted" : "")">
                                <td class="sort"><span><img src="/areas/brickpile.ui/images/sort.png" alt="Sort" /></span></td>
                                <td class="name"><span>@item.Entity.Metadata.Name</span></td>
                                <td><span>@item.Entity.Metadata.Slug</span></td>
                                <td><span>@Html.CheckBox(item.Entity.Id.Replace("/", "_"), item.Entity.Metadata.IsPublished, new { @class = "publish" })</span></td>
                                <td><span>@(item.Entity.Metadata.Changed.HasValue ? item.Entity.Metadata.Changed.FormatDate() + " by " + Model.StructureInfo.RootModel.Metadata.ChangedBy : " ")</span></td>
                                <td class="actions">
                                    <span>
                                        <span>
                                            <a href="@Url.Action("edit", new { model = item.Entity })"><img src="/areas/brickpile.ui/images/edit.png" alt="Edit page" /></a>
                                            <a href="@Url.Action("preview", new { model = item.Entity })"><img src="/areas/brickpile.ui/images/preview.png" alt="Preview page" /></a>
                                            @if (item.Entity.Metadata.IsDeleted) {
                                                <a href="@Url.Action("undelete", new { model = item.Entity })" class="undelete"><img src="/areas/brickpile.ui/images/delete.png" alt="Undelete page" /></a>
                                            } else {
                                                <a href="@Url.Action("delete", new { model = item.Entity })" class="delete"><img src="/areas/brickpile.ui/images/delete.png" alt="Delete page" /></a>
                                            }
                                        </span>
                                        <a href="@Url.Action("index", new { model = item.Entity })" class="button"><img src="/areas/brickpile.ui/images/next-level.png" alt="Edit children" /></a>
                                    </span>
                                </td>                            
                            </tr>
                    }
                }
                }
            </tbody>
        </table>
    </div>
}