@*model BrickPile.UI.Web.ViewModels.IDashboardViewModel*@
@model BrickPile.UI.Models.DefaultPageModel
@using BrickPile.UI.Web.Mvc.Html
@using BrickPile.UI.Common
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";

}
@*
<h2>@Model.CurrentModel.Metadata.Name</h2>


@if (Model.StructureInfo.ParentModel != null) {
    <span>Upp en nivå: @Html.ActionLink(Model.StructureInfo.ParentModel)</span>
} else {
    <ul>
        <li>@Html.ActionLink(Model.StructureInfo.RootModel)</li>
        @foreach (var item in Model.StructureInfo.HierarchicalStructure) {
            <li>@Html.ActionLink(item.Entity)</li>
        }
    </ul>
}

Html.Raw(Html.PageList(Model.StructureInfo, page => Html.EditActionLink(page.Metadata.Name, "index", new { model = page })))

*@


<h1>Create your first page</h1>
<div class="overlay">
    <aside>
        <h1>Create the home page</h1>
        @Html.ValidationSummary()
        <section>
            @using (Html.BeginForm("createdefault","content", null, FormMethod.Post, new { name = "editForm", style="border:0;" }))
            {

                @Html.LabelFor(model => model.AvailableModels)
                @Html.DropDownListFor(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                <menu>
                    <input type="submit" value="Yes, go ahead" />
                </menu>            
            }
        </section>
    </aside>
</div>
