
@model Stormbreaker.Example.Models.EditUserModel

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}

@section GlobalNavigation {
    <ul id="dashboard-nav">
        <li>@Html.ActionLink("Content","index","content")</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>
    </ul>
}

<h1>Edit User</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Updating user was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                User: @Html.DisplayTextFor(m => m.Username)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
            </div>
			<div class="editor-label">
                Roles:
            </div>
			<div class="editor-field">
				<ul>
					@foreach (var role in Model.Roles) {
						<li><input type="checkbox" name="UserRoles" value="@role" @if (Model.UserRoles.Contains(role)) { <text> checked="checked"</text> } /> @role</li>
					}
				</ul>
			</div>
            <p>
                <input type="submit" value="Update" />
            </p>
        </fieldset>
    </div>
}    



