
@model Stormbreaker.Example.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Foo</title>
</head>
<body>
    <div class="new-page-dialog">
    <h1>Log on</h1>
    @using (Html.BeginForm())
    {
        <div class="editor">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="editor-button">
            <input type="submit" value="Create" />
        </div>            
    }
    </div>
</body>
</html>
