
@model Stormbreaker.Example.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Foo</title>
</head>
<body>
@using (Html.BeginForm())
{
    <div class="editor">
        <div>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
    </div>
    <div class="editor-button">
        <input type="submit" value="Login" />
    </div>            
}
</body>
</html>