
@model Stormbreaker.Dashboard.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>BrickPile - Login</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/reset.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/account.css")" media="all" />
</head>
<body class="login">
    <div>
        <h1>Login to use BrickPile</h1>
        @Html.ValidationSummary()
        @using (Html.BeginForm()) {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class="text-box", placeholder="Type in your username here...", required="required" })

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "text-box", placeholder = "Well that's a secret only you know.", required = "required" })

@*          @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
*@
            <menu>
                <input type="submit" value="Yes, go ahead" />
            </menu>
        }
    </div>
</body>
</html>