
@model MembershipUserCollection
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Users";
}

@section GlobalNavigation {
    <ul id="dashboard-nav">
        <li>@Html.ActionLink("Content","index","content")</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>
    </ul>
}

<h1>Manage Users</h1>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Username</th>
			<th>Email</th>
			<th>Last login date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(MembershipUser user in Model) {
			<tr>
				<td>@user.ProviderUserKey</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>@user.LastLoginDate</td>
				<td>@Html.ActionLink("Edit", "EditUser", new { username = user.UserName })</td>
			</tr>
		}
	</tbody>
</table>
<p>
	@Html.ActionLink("Add user", "register")
	@Html.ActionLink("Manage roles", "manageroles")
</p>

