
@using System.Globalization
@using BrickPile.UI.Web.Mvc.Html

@model BrickPile.UI.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
    <head>
        <title>BrickPile - Login and pile some bricks eh?</title>
        <meta charset="utf-8">
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/framework.css")" media="all" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/views.css")" media="all" />

        <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery-1.6.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/setup.js")"></script>
    </head>
    <body class="logon">
        <header>
            <h1><img src="@Url.Content("~/areas/brickpile.ui/images/setup/logo.png")" alt="BrickPile" /></h1>
        </header>
        @Html.ValidationSummary()
        @using (Html.BeginForm()) {
            <div>
                <fieldset>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class="text-box", placeholder="Your username...", required="required" })
                    @Html.ValidationMessageLabelFor(m => m.Password)
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "text-box", placeholder = "... and your password?", required = "required" })
                </fieldset>
                <div id="button">
                    <input type="submit" value="Yes, go ahead" />
                </div>
            </div>
        }
    </body>
</html>