@model MembershipUserCollection
           
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Users";
}

@section Navigation {
    <ul id="dashboard-nav">
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard" })</li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users selected" })</li>
    </ul>
}

<h1>Manage BrickPile Users</h1>
<div id="users">
    <span class="button adduser">
        <a href="@Url.Action("register", "account")"><img src="@Url.Content("~/areas/brickpile.ui/images/add.png")" alt="Add user" /></a>
    </span>
    <table id="manage-users">
        <caption>Users</caption>
	    <thead>
		    <tr>
			    <th><span>Username</span></th>
			    <th><span>Email</span></th>
			    <th><span>Last login date</span></th>
		    </tr>
	    </thead>
	    <tbody>
		    @foreach(MembershipUser user in Model) {
			    <tr>
				    <td class="name"><span>@user.UserName</span></td>
				    <td><span>@user.Email</span></td>
				    <td><span>@user.LastLoginDate</span></td>
			    </tr>
		    }
	    </tbody>
    </table>
</div>
