
<a href="#" class="close"><img src="@Url.Content("/areas/ui/images/dialog-close.png")" alt="close" /></a>
@if (Model.ParentModel != null) {
    <span class="button parent">
        <a href="#" data-id="@Model.ParentModel.Id">@Model.ParentModel.Metadata.Name</a>
    </span>
}
<h1>Select page...</h1>
<div id="scroll">
    <ul id="pages" class="menu">
        @if (Model.RootModel != null) {
            <li><a href ="#@Model.RootModel.Metadata.Slug" class="link">@Model.CurrentModel.Metadata.Name</a></li>
        }
        @foreach (var item in Model.Children) {
            <li>
                <a href ="#@item.Metadata.Slug" data-id="@item.Id" class="link">@item.Metadata.Name</a>
                <a href="#@item.Metadata.Slug" class="button navigator" data-id="@item.Id"><img src="/areas/ui/images/next-level.png" alt="Next level" /></a>
            </li>
        }
    </ul>
</div>