@using BrickPile.UI.Common
@using BrickPile.UI.Web.Mvc.Html
@model BrickPile.Sample.Controllers.TestPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            
            @Html.Menu()

            <h1>@Model.Metadata.Name</h1>

            <br/>

            @Html.DisplayFor(x => x.Image)
            
            <br/>

            @Html.DisplayFor(x => x.MyImage)
        </div>
        @Html.UIControls()
    </body>
</html>