@using System.Web.Hosting
@using BrickPile.FileSystem.AmazonS3.Common
@using BrickPile.FileSystem.AmazonS3.Hosting
@using BrickPile.UI.Common
@model BrickPile.UI.Models.Image

<div id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)">
    <span class="centerbox">
        @if(Model == null || string.IsNullOrEmpty(Model.VirtualUrl)) {
            <img src="http://placehold.it/60x38" alt=""/>
        } else {
            var virtualFile = HostingEnvironment.VirtualPathProvider.GetFile(Model.VirtualUrl) as AmazonS3VirtualFile;
            <img src="@Url.Image(virtualFile).Resize(60,38)" alt="" />
        }
    </span>
    @Html.TextBoxFor(x => Model.AltText, new { placeholder = "Specify an alternative text for your image", @class = "alttext" })
    <div class="btn-group">
        <button class="btn btn-large browse">Browse...</button>
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="clear">Clear</a></li>
        </ul>        
    </div>
    @Html.HiddenFor(x => x.VirtualUrl, new { @class = "virtualPath" })
    @Html.HiddenFor(x => x.Url, new { @class = "url" })
</div>

@Html.Section(@<link rel="stylesheet" media="all" href="@Url.Content("~/areas/ui/content/properties/property-virtualfileselector.css")" />, "styles")
@Html.Section(
    @<script id="view-template-virtual-file-dialog" type="text/html">
         <div class="modal">
             <div class="modal-header">
                 <a href="#" class="close"><img src="@Url.Content("/areas/ui/images/dialog-close.png")" alt="close" /></a>
                 <h1>Select an image...</h1>
             </div>
             <div class="modal-body">
                 <div id="directories"><ul></ul></div>
                 <div id="files"><ul></ul></div>
             </div>
             <div class="modal-footer">
                <a href="#" class="btn cancel" >No, cancel</a>
                <a href="#" class="btn select">Select</a>
            </div>
         </div>
    </script>,
    @<script id="view-template-virtual-file" type="text/html">
         <li>
             <a href="#">
                <img src="<%= Thumbnail %>" width="110" alt=""/>
             </a>
        </li>
    </script>,
    @<script id="view-template-virtual-directory" type="text/html">
         <li>
             <a href="#">
                <i class="icon-folder-close"></i>
                <%= Name %>
             </a>
        </li>
    </script>,
"templates")
@Html.Section(@<script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/properties/virtualfileproperty.js")"></script>,"scripts")
@Html.Section(
    @<script type="text/javascript">
        (function ($) {
            // Shorthand for the application namespace
            var app = brickpile.app;
            // Initialize the main view.
            app.virtualFilePropertyView = new VirtualFilePropertyView({ el: $('#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)') });
        })(jQuery);  
     </script>
, "scripts")