@using BrickPile.FileSystem.AmazonS3.Common
@model BrickPile.UI.Models.Image

<style type="text/css">
    .centerbox {
        /* basic styling */
        width: 64px;
        height: 49px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background : #fff url("/areas/ui/images/ajax-loader.gif") no-repeat center center;

        /* flexbox, por favor */
        display: -webkit-inline-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
 
        display: -moz-inline-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;
          
        background-clip: padding-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;          
  
        display: inline-box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        vertical-align: top;
    }
    .centerbox img {
        display: block;
    } 
</style>

<span class="centerbox">
    @if(Model == null || string.IsNullOrEmpty(Model.VirtualUrl)) {
        <img src="http://placehold.it/60x45" alt=""/>
    } else {
        <img src="@Url.Image(Model.VirtualUrl).Resize(60,45)" alt="" />
    }
</span>


@Html.TextBoxFor(x => Model.AltText, new { placeholder = "Specify an alternative text for your image", @class = "imageurl" }) <span class="button imageurl"><input type="button" value="Browse..." id="@ViewData.TemplateInfo.HtmlFieldPrefix.Replace('.', '_')" /></span>
@Html.HiddenFor(x => x.VirtualUrl, new { @class = "virtualUrl" })
@Html.HiddenFor(x => x.Url, new { @class = "url" })