@model Stormbreaker.Example.ViewModels.HomeViewModel
           
@using Stormbreaker.Extensions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisplayTextFor(x => x.CurrentModel.MetaData.Name)

<ul>
@foreach (var page in Model.PagedList)
{
<li>
    <h3>@Html.ActionLink(page.Heading, page)</h3>            
    <img src="@page.ImageUrl" />
    @Html.DisplayFor(x => page.MainBody)
</li>
}
</ul>
<div class="pager">
    @Html.Pager(Model.PagedList.PageSize, Model.PagedList.PageNumber, Model.PagedList.TotalItemCount, new { model = Model.CurrentModel })
</div>

<h2>Länk till nyhetsarkivet</h2>
@Html.ActionLink("Nyhetsarkiv", Model.NewsContainer)
