@model Stormbreaker.Web.Mvc.ViewModels.DefaultViewModel<Stormbreaker.Example.Models.Home>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content {
    <div id="push">
	    <a href="/"><img src="@Html.DisplayFor(x => x.CurrentModel.Header)" alt="Vår nya mobilkampanj" /></a>
    </div>
    <ul id="teasers">
	    <li>
		    <article>
			    <a href="/">
				    <h1>Burro nominerade för Svenska designpriset</h1>
				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nibh nibh, volutpat quis.</p>
				    <img src="@Html.DisplayFor(x => x.CurrentModel.Image)" alt="Bild från dropbox" />
			    </a>
		    </article>
	    </li>
	    <li>
		    <article>
			    <a href="/">
				    <h1>Burro nominerade för Svenska designpriset</h1>
				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nibh nibh, volutpat quis.</p>
				    <img src="@Html.DisplayFor(x => x.CurrentModel.Image2)" alt="Bild från dropbox" />
			    </a>
		    </article>
	    </li>
	    <li>
		    <article>
			    <a href="/">
				    <h1>Burro nominerade för Svenska designpriset</h1>
				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nibh nibh, volutpat quis.</p>
				    <img src="@Html.DisplayFor(x => x.CurrentModel.Image3)" alt="Bild från dropbox" />
			    </a>
		    </article>
	    </li>
	    <li>
		    <article>
			    <a href="/">
				    <h1>Burro nominerade för Svenska designpriset</h1>
				    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nibh nibh, volutpat quis.</p>
				    <img src="@Html.DisplayFor(x => x.CurrentModel.Image4)" alt="Bild från dropbox" />
			    </a>
		    </article>
	    </li>
    </ul>
    
}