@model Stormbreaker.Example.ViewModels.HomeViewModel
@using Stormbreaker.Extensions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisplayTextFor(x => x.CurrentModel.MetaData.Name)

<ul>
@foreach (var item in Model.PagedList)
{
<li>
    <h3>@Html.ActionLink(item.Heading,"index", new { model = item })</h3>            
    <img src="@item.ImageUrl" />
    @Html.DisplayFor(x => item.MainBody)
</li>
}
</ul>
<div class="pager">
    @Html.Pager(Model.PagedList.PageSize, Model.PagedList.PageNumber, Model.PagedList.TotalItemCount, new { model = Model.CurrentModel })
</div>