@using BrickPile.Samples.Models
@using BrickPile.UI.Common
@using BrickPile.UI.Web.Mvc.Html
@model BrickPile.Samples.Models.Home

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}

@Model.Heading

<p>@Model.MainIntro</p>

@Model.TheProp.Test

@Model.Metadata.IsPublished

@Html.Menu()

@foreach (Container container in ViewBag.Containers) {
    @container.Metadata.Name <br/>
}