
@model BrickPile.UI.Models.Settings
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
        <li>@Html.ActionLink("Preferences", "index", "settings", null, new { @class = "preferences" })</li>
        <!--li>@Html.ActionLink("Library", "index", "library", null, new { @class = "library" })</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li-->
    </ul>
}


<h1>Preferences</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("save", "settings"))
{
    <div>
        @Html.EditorForModel()
        <div class="editor-button">
            <input type="submit" value="Save" style="float:none;margin:1em 0 0;" />
        </div>
    </div>
}