
@using System.Configuration
@using System.Web.Configuration
@using BrickPile.UI.Common
@model string

@{
    var maxRequestLength = 4194304;
    // Set the maximum file size for uploads in bytes.
    var section = ConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection;
    if (section != null) {
        // Retreive the maximum request length from the web.config and convert to bytes.
        maxRequestLength = (section.MaxRequestLength * 1024);
    }
}

<div id="@ViewData.TemplateInfo.GetFullHtmlFieldId("wrapper")">
    @Html.TextAreaFor(x => Model, 12, 60, new { @class = @ViewData.TemplateInfo.GetFullHtmlFieldId(String.Empty) })           
 </div>
    <!-- Before -->
@Html.Section(@<link rel="stylesheet" media="all" href="@Url.Content("~/areas/ui/content/properties/property-virtualfileselector.css")" />, "styles")
@Html.Section(
    @<script id="view-template-virtual-file-dialog" type="text/html">
         
         <div id="asset-dialog">

             <div id="asset-dialog-header" class="modal-header">
                 <!--a class="close"><img src="@Url.Content("/areas/ui/images/dialog-close.png")" alt="close" /></a-->
                 <button class="btn" type="button"><i class="icon-download-alt"></i> Add new asset</button>
                 <h1>Select an image...</h1>
             </div>

             <div class="modal-body">
                 <div id="directories">
                     <ul>
                         <li><a class="all"><i class="icon-th-large"></i>All items</a></li>
                         <li><a class="recent"><i class="icon-time"></i>Recent</a></li>
                         <li><a class="images"><i class="icon-picture"></i>Images</a></li>
                         <li><a class="videos"><i class="icon-film"></i>Videos</a></li>
                         <li><a class="documents"><i class="icon-file"></i>Documents</a></li>
                         <li><a class="audios"><i class="icon-headphones"></i>Audio</a></li>
                         <li><a class="others">Other</a></li>
                     </ul>
                 </div>
                 <div id="files"></div>
             </div>

             <div class="modal-footer">

                 <a class="btn cancel" >No, cancel</a>
                 <a class="btn select">Select</a>

             </div>

         </div>

     </script>,
     @<script id="view-template-new-asset-dialog" type="text/html">
         <div id="droparea">
            <h1><span>Drop 'em here</span></h1>
            <div>
                <span>Upload files by dragging &amp; dropping them or <input type="file" multiple="multiple" class="manual-file-chooser"> <a class="manual-file-chooser-txt" href="#">choose a file</a></span>
                <ul />
                <div id="files-status"></div>
            </div>
        </div>
    </script>,
    @<script id="view-template-virtual-file" type="text/html">
         <div class="thumbnail">
             <a class="asset-item">
                 <img src="data:image/png;base64,<%= Thumbnail %>" alt="" />
             </a>
             <button class="delete" style="display: none;">
                 <span class="icon-trash"></span>
             </button>
         </div>
     </script>,
     @<script id="view-template-dropped-file" type="text/html">
         <% if (size > @maxRequestLength) { %>
         <span class="name"><del><%=name %></del> - File size error</span><span class="size"><del><%=fileSize%></del></span>
         <div class="ui-progress-bar error" id="progress_bar">
             <div class="ui-progress" style="display: block;width: 100%;"></div>
         </div>
         <% } else { %>
         <span class="name"><%=name %></span><span class="size"><%=fileSize%></span> <span class="percentCompleted"></span>
         <div class="ui-progress-bar" id="progress_bar">
             <div class="ui-progress"></div>
         </div>
         <% } %>
     </script>, "templates")

@Html.Section(@<script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/properties/virtualfileproperty.js")"></script>, "scripts")
@Html.Section(@<script type="text/javascript" src="@Url.Content("~/areas/ui/scripts/custom/editor/HtmlEditorVirtualFilePropertyView.js")"></script>, "scripts")
<!-- After -->
@Html.Section(@<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        editor_selector: "@ViewData.TemplateInfo.GetFullHtmlFieldId(String.Empty)",
        theme: "advanced",
        skin: "cirkuit",
        plugins: "paste,inlinepopups",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        //theme_advanced_buttons1: "media,formatselect,separator,bold,italic,separator,bullist,numlist,separator,link,unlink,image,separator,code,separator,undo,redo,fullscreen",
        theme_advanced_buttons1: "formatselect,separator,bold,italic,separator,blockquote,bullist,numlist,separator,link,unlink,indent,outdent,separator,code,separator,image",
        //theme_advanced_buttons1: "bold,italic",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "pastetext,pasteword,selectall",
        
        paste_remove_styles: true,
        theme_advanced_path: false,
        theme_advanced_statusbar_location: "none",
        extended_valid_elements: "pre[name|class|cols|rows]",
        remove_linebreaks: false,
        convert_urls: false,
        dialog_type: "inline",
        file_browser_callback: 'assetBrowser'
    });
    function assetBrowser(field_name, url, type, win) {        
        var $callbackfield = $(win.document.getElementById(field_name));
        var view = new HtmlEditorVirtualFilePropertyView({ el: $('#@ViewData.TemplateInfo.GetFullHtmlFieldId("wrapper")'), callbackfield: $callbackfield, maxRequestLength: @maxRequestLength });
        view.open();                
    }
</script>, "scripts")