@* Copyright (C) 2011 by Marcus Lindblom

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE. *@

@model BrickPile.UI.Web.ViewModels.IViewModel<BrickPile.Sample.Models.BaseModel>
@using System.Globalization
@using SquishIt.Framework

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
	<head>
        <title>@Model.CurrentPage.Metadata.Title</title>
        @if (!string.IsNullOrEmpty(@Model.CurrentPage.Metadata.Description)) {
        <meta name="description" content="@Model.CurrentPage.Metadata.Description"/>                                                                                 
        }
        <meta charset="utf-8" />
        @Html.Raw(Bundle.Css()
            .Add(Url.Content("~/content/global.css"))
            .Add(Url.Content("~/content/framework.css"))
            .Add(Url.Content("~/content/views.css"))
            .Render("~/content/master.min_#.css"))
        
        <!--link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /-->
	</head>
	<body class ="@ViewBag.Class">
        <header role="banner">
            <nav>
                @Html.Partial("_GlobalNav", Model.Pages)
		    </nav>
        </header>
        @if (IsSectionDefined("Heading")) {
            
            @RenderSection("Heading")

        } else {
            
            <h1><span>@Model.CurrentPage.Heading</span></h1>
            
        }
	    <div id="content" role="main">
            <div>
                @if (IsSectionDefined("Main")) {
                    @RenderSection("Main")
                } else {
                    <article role="article">
                        @RenderBody()
                    </article>
                    <aside id="additional" role="complementary">
                        <nav>
                            <h2>Sub menu</h2>
                            @Html.Partial("_LocalNav", Model.Pages)
                        </nav>
                    </aside>
                }
            </div>
            @RenderSection("Portfolio", false)
	    </div>
        <footer>
            <div>
                <section id="textual-content">
                    <h2>Textual Content</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu ligula diam, et bibendum augue. Duis non quam tortor, sed tempus sapien.</p>                    <p>Praesent eu massa non urna tristique tristique vitae et mauris. Ut fermentum tempor ante at venenatis. Sed et iaculis mi. Mauris ornare auctor vestibulum.</p>                    <p>In hac habitasse platea dictumst. Quisque malesuada nulla quis lectus ultricies vel mattis.</p>
                </section>
                <section id="categories">
                    <h2>Textual Content</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu ligula diam, et bibendum augue. Duis non quam tortor, sed tempus sapien.</p>                    <p>Praesent eu massa non urna tristique tristique vitae et mauris. Ut fermentum tempor ante at venenatis. Sed et iaculis mi. Mauris ornare auctor vestibulum.</p>                    <p>In hac habitasse platea dictumst. Quisque malesuada nulla quis lectus ultricies vel mattis.</p>
                </section>
                <div id="contact">
                    <h2>Get in touch with us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis neque.</p>
                    <form method="POST" action="/">
                        <input type="text" placeholder="Your Name"/>
                        <input type="text" placeholder="Your Email"/>
                        <input type="text" placeholder="Your Subject"/>
                        <textarea placeholder="Message"></textarea>
                        <input type="image" src="/Content/submit.png" alt="Submit"/>
                    </form>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            // Add a script element as a child of the body
            function downloadJSAtOnload() {
                var element = document.createElement("script");
                element.src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js";
                document.body.appendChild(element);
            }
            // Check for browser support of event handling capability
            if (window.addEventListener)
                window.addEventListener("load", downloadJSAtOnload, false);
            else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload);
            else window.onload = downloadJSAtOnload;
        </script>  
	</body>
</html>
