@model BrickPile.Sample.ViewModels.IBaseViewModel<BrickPile.Sample.Models.BaseModel>
           
@using BrickPile.UI.Web.Mvc.Html
@using BrickPile.UI.Common
@using System.Globalization
@using SquishIt.Framework
@using BrickPile.UI.Common

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
	<head>
		<title>@Model.Title</title>
		<meta charset="utf-8" />
        @Html.Raw(Bundle.Css()
            .Add(Url.Content("~/content/global.css"))
            .Add(Url.Content("~/content/framework.css"))
            .Add(Url.Content("~/content/templates.css"))
            .Render("~/content/master.css"))
        @Html.Raw(Bundle.JavaScript()
            .Add(Url.Content("~/scripts/jquery-1.6.4.js"))
            .Add(Url.Content("~/scripts/lib/cufon-yui.js"))
            .Add(Url.Content("~/scripts/lib/TitilliumText22L_500.font.js"))
            .Add(Url.Content("~/scripts/global.js"))
            .Render("~/scripts/master.js"))
        @if (IsSectionDefined("AdditionalScripts")) {
            @RenderSection("AdditionalScripts")
        }
        <!--[if IE 7]>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie7.css")" media="screen,projection" />
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="@Url.Content("~/scripts/lib/html5.js")"></script>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie8.css")" media="screen,projection" />
        <![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

        @RenderSection("scripts", false)
        @RenderSection("styles",false)

	</head>
	<body class="@Model.Class">
		<header> 
            @if (!IsSectionDefined("Logotype")) {
                <a href="@Url.Action("index", "home")" title="Go to start page"><img src="@Url.Content("/content/logo.png")" alt="Dark Corporate Template"></a>
            }
            else {
                @RenderSection("Logotype")
            }
        </header>
		<nav id="global">
            @Html.Partial("_GlobalNav")
		</nav>
		<div id="content">
            @RenderBody()
		</div>
		<footer>
			<p><strong>Visit us:</strong> Fantasy street 31337, Fantasy land</p>
			<p><strong>Call us:</strong> 127001</p>
			<p><strong>Email us:</strong> <a href="#">info@acme.com</a></p>
			<p><strong>Follow us:</strong> <a href="#">Facebook</a> <a href="#">Twitter</a></p>
		</footer>

        @Html.RenderSection("scripts")
        @Html.RenderSection("styles")

	</body>
</html>
