
@using System.Globalization;
@model BrickPile.UI.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
    <head>
        <title>BrickPile - Yep, this is the setup screen</title>
        <meta charset="utf-8">
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/setup.css")" media="all" />
    </head>
    <body>
        <header>
            <h1>Yep, this is the setup screen</h1>
        </header>
        <img src="@Url.Content("~/areas/brickpile.ui/images/setup/logo.png")" />
        @using (Html.BeginForm()) {
            <div>
                <fieldset>
                    @Html.Label("Your website's name")
                    @Html.TextBox("WebSiteName")   
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                    <div class="password">
                        <div>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </fieldset>
                <div id="button">
                    <input type="submit" value="Let's do this" />
                </div>
            </div>
        }
    </body>
</html>
