
@using System.Globalization
@using BrickPile.UI.Web.Mvc.Html

@model BrickPile.UI.Web.ViewModels.SetupViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
    <head>
        <title>BrickPile - Yep, this is the setup screen</title>
        <meta charset="utf-8">
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/setup.css")" media="all" />
        <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery-1.6.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/setup.js")"></script>
    </head>
    <body>
        <header>
            <h1>Yep, this is the setup screen</h1>
        </header>
        <img src="@Url.Content("~/areas/brickpile.ui/images/setup/logo.png")" alt="BrickPile" />
        @using (Html.BeginForm()) {
            <div>
                <fieldset>
                    @Html.LabelFor(m => m.Configuration.SiteName)
                    @Html.TextBoxFor(m => m.Configuration.SiteName, new { required = "required" })
                    @Html.ValidationMessageFor(m => m.Configuration.SiteName)   
                    @Html.LabelFor(m => m.SetupModel.UserName, @<span>No fancy characters mmkay?</span>, "Username")
                    @Html.TextBoxFor(m => m.SetupModel.UserName, new { required = "required" })
                    @Html.ValidationMessageFor(m => m.SetupModel.UserName)
                    @Html.LabelFor(m => m.SetupModel.Email)
                    @Html.TextBoxFor(m => m.SetupModel.Email, new { required = "required" })
                    @Html.ValidationMessageFor(m => m.SetupModel.Email)
                    <div class="password">
                        <div>
                            @Html.LabelFor(m => m.SetupModel.Password)
                            @Html.PasswordFor(m => m.SetupModel.Password, new { required = "required" })
                            @Html.ValidationMessageFor(m => m.SetupModel.Password)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.SetupModel.ConfirmPassword)
                            @Html.PasswordFor(m => m.SetupModel.ConfirmPassword)
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.SetupModel.ConfirmPassword)
                </fieldset>
                <div id="button">
                    <input type="submit" value="Let's do this" />
                </div>
            </div>
        }
    </body>
</html>
