
@model IList<Stormbreaker.Dashboard.Models.AssetModel>
@using Stormbreaker.Dashboard.Extensions

<div class="overlay filebrowser">
    <aside>
        <h1>Assets</h1>
        <table>
             <thead>
             <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var asset in this.Model) {
            <tr class="@asset.Class">
                <td><a href="@asset.Path" class="insert" data-val="@asset.Path">@asset.Name</a></td>
                <td>@asset.FileSize.FormatFileSize()</td>
                <td>@DateTime.Parse(asset.LastModified)</td>
                <td><a href="javascript:pixlr.overlay.show({image:'@asset.Path',referrer: 'Stormbreaker',title:'@asset.Name', service:'editor',target:'http://erie.kloojed.com:81/dashboard/library/save', exit:'http://erie.kloojed.com:81/dashboard/library/save'});" class="edit">Edit</a></td>
            </tr>
            }
            </tbody>
        </table>

        <menu>
            <input type="submit" name="Continue" value="Yes, select asset" class="button" />
            @Html.ActionLink("No, cancel", "index", null, new { @class = "button close" })
        </menu>

    </aside>
</div>
