
@using System.Globalization;

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>Stormbreaker - dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/framework.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/global.css")" media="all" />
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/jquery-1.5.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/jquery.slugify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/tiny_mce/tiny_mce.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/dashboard.js")"></script>
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header>
    </header>
    <nav>
        @RenderSection( "GlobalNavigation", required:false )
    </nav>
    <section>
        <h1>Heading</h1>
        <article>
            @RenderBody()
        </article>
    </section>
    <footer>
        @RenderSection( "Footer", required:false )
    </footer>
</body>
</html>