
@using System.Globalization;

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>Stormbreaker - Dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/framework.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/global.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/dashboard/styles/dashboard.css")" media="all" />
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/jquery-1.5.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/jquery.slugify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/tiny_mce/tiny_mce.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/pixlr.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/dashboard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/dashboard/scripts/jquery.event.hover.js")"></script>

    <script type="text/javascript">
//        pixlr.settings.target = 'http://erie.kloojed.com:81/dashboard/library/save';
//        pixlr.settings.exit = 'http://erie.kloojed.com:81/dashboard/library/save';
//        pixlr.settings.credentials = true;
//        pixlr.settings.method = 'post';
        if (parent) {
            parent.pixlr.overlay.hide();

        }
    </script>
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="@ViewBag.Class">
    <header>
        <menu type="toolbar">
            <li>@Html.ActionLink("Dashboard","index","dashboard")</li>
        </menu>
        <strong>@HttpContext.Current.User.Identity.Name @Html.ActionLink("Log Off", "logoff", "account")</strong>
    </header>
    <nav>
        <h1>Main navigation</h1>
        @RenderSection( "GlobalNavigation", required:false )
    </nav>
    <section>
        <article>
            @RenderBody()
        </article>
    </section>
    <footer>
        @RenderSection( "Footer", required:false )
    </footer>
</body>
</html>