@model BrickPile.Sample.Web.ViewModels.IBaseViewModel<BrickPile.Sample.Models.BaseModel>
@using System.Globalization;
@using SquishIt.Framework;
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
	<head>
		<title>@Model.Title</title>
		<meta charset="utf-8" />
        @Html.Raw(Bundle.Css()
            .Add(Url.Content("~/styles/global.css"))
            .Add(Url.Content("~/styles/framework.css"))
            .Add(Url.Content("~/styles/templates.css"))
            .Render("~/styles/master.css"))
        @Html.Raw(Bundle.JavaScript()
            .Add(Url.Content("~/scripts/lib/jquery-1.4.4.js"))
            .Add(Url.Content("~/scripts/lib/cufon-yui.js"))
            .Add(Url.Content("~/scripts/lib/TitilliumText22L_500.font.js"))
            .Add(Url.Content("~/scripts/global.js"))
            .Render("~/scripts/master.js"))
        @if (IsSectionDefined("AdditionalScripts")) {
            @RenderSection("AdditionalScripts")
        }
        <!--[if IE 7]>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie7.css")" media="screen,projection" />
        <![endif]-->
        <!--[if lte IE 8]>
            <script src="@Url.Content("~/scripts/lib/html5.js")"></script>
            <link rel="stylesheet" href="@Url.Content("~/styles/legacy/ie8.css")" media="screen,projection" />
        <![endif]-->
	</head>
	<body class="@Model.Class">
		<header> 
            @if (!IsSectionDefined("Logotype")) {
                <a href="@Url.Action("index", new { model = Model.StructureInfo.RootModel })" title="Till webbplatsens startsida"><img src="/images/logotype.png" alt="Burro"></a>
            }
            else {
                @RenderSection("Logotype")
            }
        </header>
		<nav id="global">
            @Html.Partial("_GlobalNav")
		</nav>
		<div id="content">
            @RenderBody()
		</div>
		<footer>
			<p><strong>Besök oss:</strong> Nybrogatan 25 B, 112 29 Stockholm</p>
			<p><strong>Ring oss:</strong> 0767 80 45 99</p>
			<p><strong>Maila oss:</strong> <a href="mailto:info@burro.se">info@burro.se</a></p>
			<p><strong>Följ oss:</strong> <a href="http://www.facebook.com/pages/Burro/154333114597653?sk=wall">Facebook</a> <a href="http://twitter.com/Burro_STHLM">Twitter</a></p>
		</footer>
	</body>
</html>
