@model BrickPile.Sample.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="push">
	<a href="@Url.Action("index", new { model = Model.CurrentModel })"><img src="@Url.Content("/content/header.png")" alt="" /></a>
</div>

<ul id="teasers">
	<li>
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="@Url.Content("/content/teaser-1.png")" alt="">
			</a>
		</article>
	</li>
	<li>
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="@Url.Content("/content/teaser-2.png")" alt="">
			</a>
		</article>
	</li>
    <li class="last">
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="@Url.Content("/content/teaser-3.png")" alt="">
			</a>
		</article>
	</li>
</ul>