
@model BrickPile.UI.Models.FileBrowserModel
@using BrickPile.UI.Common

<div class="overlay">
    <aside class="dialog filebrowser">
        <a href="#" class="close"><img src="@Url.Content("/areas/brickpile.ui/images/dialog-close.png")" alt="close" /></a>
        <h1>Asset manager</h1>
        <table>
             <thead>
                 <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Last modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in this.Model.Assets) {
                <tr>
                    <td><a href="@asset.Path" class="insert" data-val="@asset.Path">@asset.Name</a></td>
                    <td>@asset.FileSize.FormatFileSize()</td>
                    <td>@DateTime.Parse(asset.LastModified)</td>
                </tr>
                }
            </tbody>
        </table>            
            <div class="editor-button">
                <span class="button">@Html.ActionLink("No, cancel", @Model.BackAction ?? "index", null, new { @class = "cancel" })</span>
                <span class="button disabled">@Html.ActionLink("Select", @Model.BackAction ?? "index", null, new { @class = "select" })</span>
            </div>
    </aside>
</div>
