@using BrickPile.Core.Mvc.Html
@using BrickPile.UI.Common
@using StackExchange.Profiling
@model BrickPile.UI.Web.ViewModels.IViewModel<BrickPile.Core.IPage>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            @Html.Menu(
                page => Html.ActionLink(page),
                page => Html.DisplayFor(x => page.Metadata.Name))
        </nav>
    </header>
    <div>
        <nav>
            @Html.SubMenu(
                page => Html.ActionLink(page),
                page => Html.DisplayFor(x => page.Metadata.Name))
        </nav>
        <main>
            @RenderBody()    
        </main>
        <aside>
            
        </aside>
    </div>
    @MiniProfiler.RenderIncludes()
</body>
</html>
