
@model Stormbreaker.Dashboard.Models.CreateNewModel
@using Stormbreaker.Dashboard.Extensions
@using Stormbreaker.Dashboard.App_LocalResources

<div class="overlay">
    <aside>
        <h1>@ResourceHelper.GetString(typeof(NewModelDialog),"Heading")</h1>
        @Html.ValidationSummary()
        <section>
            @using (Html.BeginForm("create", "content", new { model = Model.CurrentModel }, FormMethod.Post, new { name = "editForm" }))
            {
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.LabelFor(model => model.AvailableModels)
                @Html.DropDownListFor(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
                @Html.LabelFor(model => model.Slug)
                @Html.TextBoxFor(model => model.Slug, new { @class = "slug text-box", placeholder = "my-awesome-page", required="required" })
                @Html.HiddenFor(model => model.Url)
                <menu>
                    <input type="submit" value="Yes, go ahead" />
                    @Html.ActionLink("No, cancel", Model.BackAction ?? "index", new { model = Model.CurrentModel }, new { @class = "button close" })
                </menu>
            }
        </section>
    </aside>
</div>

