
@model Stormbreaker.Dashboard.Models.DefaultPageModel

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";

}

<h1>Create default page</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("createdefault","content", null, FormMethod.Post, new { name = "editForm" }))
{
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(model => model.AvailableModels)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>
    </div>
    <div class="editor-button">
        <input type="submit" value="Create" />
    </div>            
}

