
@model Dashboard.Web.Mvc.ViewModels.IDashboardViewModel
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<div class="overlay">
  <div class="wrap-outer">
    <div class="wrap">
  
      <div class="new-page-dialog">
        <h1>Create a new page</h1>
        <h2>Page info</h2>
        @using (Html.BeginForm("create", "Pages", new { document = Model.CurrentDocument }, FormMethod.Post, new { name = "editForm" }))
        {
            <div class="editor">
                <div>
                    @Html.LabelFor(model => model.NewPageModel.AvailablePageModels)
                    @Html.DropDownListFor(m => m.NewPageModel.SelectedPageModel, new SelectList(Model.NewPageModel.AvailablePageModels, "Value", "Text"))
                </div>
                <div>
                    @Html.LabelFor(model => model.NewPageModel.MetaData.Name)
                    @Html.EditorFor(model => model.NewPageModel.MetaData.Name)
                </div>
                <div>
                    @Html.LabelFor(model => model.NewPageModel.MetaData.Slug)
                    @Html.EditorFor(model => model.NewPageModel.MetaData.Slug)
                </div>
            </div>
            <div class="editor-button">
                <input type="submit" value="Create" />
            </div>            
        }
      </div>
    
    </div>
  </div>
</div>

