
@model Dashboard.Web.Mvc.ViewModels.IDashboardViewModel
@using Stormbreaker.Extensions;

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()
@using (Html.BeginForm("update", "Dashboard", new { model = Model.CurrentDocument }, FormMethod.Post, new { name = "editForm" })) {
    <div>
        <fieldset>
            <legend>Metadata</legend>
            @Html.EditorFor(model => model.CurrentDocument.MetaData)
        </fieldset>
        <fieldset>
            <legend>Content</legend>
            @Html.EditorFor(model => model.CurrentDocument)
        </fieldset>
        <div class="editor-button">
            <input type="submit" value="Save" />
        </div>
    </div>
}

@section GlobalNavigation {
    @Html.Partial("_GlobalNavigation", Model)
}

@section Footer {
    <p>@Html.ActionLink("New","add",new { model = Model.CurrentDocument }) @Html.ActionLink("Delete","delete",new { model = Model.CurrentDocument })</p>
}

