
@model Dashboard.Web.Mvc.ViewModels.IDashboardViewModel
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}


@section GlobalNavigation {
    @Html.Partial("_GlobalNavigation", Model)
}

<div class="overlay">
  <div class="wrap-outer">
    <div class="wrap">
  
      <div class="new-page-dialog">
        <h1>Create a new page</h1>
        <h2>Page info</h2>
        @using (Html.BeginForm("create", "pages", new { model = Model.CurrentModel }, FormMethod.Post, new { name = "editForm" }))
        {
            <div class="editor">
                <div>
                    @Html.LabelFor(model => model.NewPageModel.AvailableModels)
                    @Html.DropDownListFor(m => m.NewPageModel.SelectedPageModel, new SelectList(Model.NewPageModel.AvailableModels, "Value", "Text"))
                </div>
                <div>
                    @Html.LabelFor(model => model.NewPageModel.MetaData.Name)
                    @Html.EditorFor(model => model.NewPageModel.MetaData.Name)
                </div>
                <div>
                    @Html.LabelFor(model => model.NewPageModel.MetaData.Slug)
                    @Html.EditorFor(model => model.NewPageModel.MetaData.Slug)
                </div>
            </div>
            <div class="editor-button">
                <input type="submit" value="Create" />
            </div>            
        }
      </div>
    
    </div>
  </div>
</div>

