
@using System.Globalization;

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>BrickPile - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/framework.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/dashboard.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/views.css")" media="all" />

    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery-1.6.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.selectbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/start.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/dashboard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.slugify.js")"></script>

    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="@ViewBag.Class">
    <header>
        <div>
            <img src="/areas/brickpile.ui/images/logo.png" alt="BrickPile" />
        </div>
    </header>
    <nav>
        @RenderSection("Navigation", required:false)
    </nav>
    @RenderBody()
</body>
</html>
