
@model IList<BrickPile.UI.Models.AssetModel>
@using BrickPile.UI.Common

<div class="overlay filebrowser">
    <aside>
        <h1>Assets</h1>
        <table>
             <thead>
             <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var asset in this.Model) {
            <tr class="@asset.Class">
                <td><a href="@asset.Path" class="insert" data-val="@asset.Path">@asset.Name</a></td>
                <td>@asset.FileSize.FormatFileSize()</td>
                <td>@DateTime.Parse(asset.LastModified)</td>
            </tr>
            }
            </tbody>
        </table>

        <menu>
            <input type="submit" name="Continue" value="Yes, select asset" class="button insert" />
            @Html.ActionLink("No, cancel", "index", null, new { @class = "button close" })
        </menu>

    </aside>
</div>
