@model BrickPile.Sample.Web.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="push">
	<a href="@Url.Action("index", new { model = Model.MainTeaser })"><img src="@Model.CurrentModel.MainTeaserImage" alt="@Model.CurrentModel.MainTeaserImageAlt" /></a>
</div>

<ul id="teasers">
	<li>
		<article>
			<a href="@Url.Action("index", new { model = Model.TeaserOne })">
				<h1>@Model.CurrentModel.TeaserOneHeading</h1>
				<p>@Model.TeaserOne.MainIntro</p>
				<img src="@Model.CurrentModel.TeaserOneImage">
			</a>
		</article>
	</li>
	<li>
		<article>
			<a href="@Url.Action("index", new { model = Model.TeaserTwo })">
				<h1>@Model.CurrentModel.TeaserTwoHeading</h1>
				<p>@Model.TeaserTwo.MainIntro</p>
				<img src="@Model.CurrentModel.TeaserTwoImage">
			</a>
		</article>
	</li>
    <li>
		<article>
			<a href="@Url.Action("index", new { model = Model.TeaserThree })">
				<h1>@Model.CurrentModel.TeaserThreeHeading</h1>
				<p>@Model.TeaserThree.MainIntro</p>
				<img src="@Model.CurrentModel.TeaserThreeImage">
			</a>
		</article>
	</li>
	<li class="last">
		<article>
			<a href="@Url.Action("index", new { model = Model.TeaserFour })">
				<h1>@Model.CurrentModel.TeaserFourHeading</h1>
				<p>@Model.TeaserFour.MainIntro</p>
				<img src="@Model.CurrentModel.TeaserFourImage">
			</a>
		</article>
	</li>
</ul>
