
@using System.Globalization
@using BrickPile.UI.Common
@using SquishIt.Framework

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
    <head>
        <title>BrickPile CMS @ViewBag.Title</title>
        <meta charset="utf-8">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="@Url.Content("~/areas/ui/scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>
        @Html.Raw(Bundle.Css()
                    .Add(Url.Content("~/areas/ui/content/normalize.css"))
                    .Add(Url.Content("~/areas/ui/content/brickpile.css"))
                    .Render("~/areas/ui/styles/brickpile.min_#.css"))

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        @Html.RenderSection("styles")
        <script id="tpl-page-model-item" type="text/template">
            <li><%= name %></li>
            <h1>Apa</h1>
        </script>
    </head>
    <body>
        <div>
            <header role="banner">
                <div>
                    <a href="@Url.Action("index","ui") ">
                        <img src="@Url.Content("/areas/ui/content/images/logo.png")" width="83" height="19" alt="BrickPile CMS" />    
                    </a>
                    <nav role="navigation">
                        @RenderSection("Navigation", required:false)
                    </nav>
                </div>
            </header>
            <h1>Welcome @HttpContext.Current.User.Identity.Name! Let's pile some bricks eh?</h1>
            <div id="main" role="main">
                @RenderBody()
            </div>
            <footer role="contentinfo">
                <p>This is <strong>Brickpile</strong>. An open source content management system designed to kick ass.</p>
            </footer>
        </div>
        

        <div class="spinner s48 blue" style="width: 48px;height: 48px;position:absolute;top:50%;left:50%;display:none;"></div>    
        

        @Html.Raw(Bundle.JavaScript()
                    .Add(Url.Content("~/areas/ui/scripts/jquery-1.7.2.js"))
                    .Add(@Url.Content("/areas/ui/scripts/underscore.js"))
                    .Add(@Url.Content("/areas/ui/scripts/backbone.js"))
                    .Add(@Url.Content("/areas/ui/scripts/models/page.js"))
                    .Add(@Url.Content("/areas/ui/scripts/collections/pagecollection.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/pagelistitemview.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/pagelistview.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/pagelistitemview.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/dashboardview.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/uiview.js"))
                    .Add(@Url.Content("/areas/ui/scripts/views/editview.js"))
                    .Add(Url.Content("~/areas/ui/scripts/jquery.timeago.js"))
                    .Add(Url.Content("~/areas/ui/scripts/jquery.slugify.js"))
                    .Add(Url.Content("~/areas/ui/scripts/jquery-ui-1.8.18.js"))
                    .Add(@Url.Content("/areas/ui/scripts/brickpile.js"))
                    .Add(@Url.Content("/areas/ui/scripts/application.js"))
                    .Render("~/areas/ui/scripts/brickpile_#.js"))

        @Html.RenderSection("scripts")

        @RenderSection("styles", false)
        @RenderSection("scripts", false)
    </body>
</html>

